@using YourSneaker.WebApp.MVC.Extensions
@using YourSneaker.WebAPI.Core.User
@inject IAspNetUser AppUser

@if (AppUser.EstaAutenticado())
{
    <div style="display: flex;">
        <div style="flex: 1; margin-right: 30px;">
            <vc:carrinho /> 
        </div>

        <div style="flex: 1; margin-right: 30px;">
            <div class="logo">
                <div class="sidebar-user-switcher user-activity-online">
                    <a href="#">
                        <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailGravatar(AppUser.ObterUserEmail())?d=mm&s=45">
                        <a class="nav-link active" asp-controller="Identidade" asp-action="Logout">Sair</a>
                    </a>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="dropdown">
        <div class="dropdown-content">
            <small class="title text-muted">Bem vindo!</small>
            <div>
                <a style="text-decoration: none;" asp-controller="Identidade" asp-action="Registro">Crie sua conta</a> <span> | </span>
                <a style="text-decoration: none;" asp-controller="Identidade" asp-action="Login"> Login</a>
            </div>
        </div>
    </div>
}
