@using YourSneaker.WebApp.MVC.Extensions
@using YourSneaker.WebAPI.Core.User
@inject IAspNetUser AppUser

@if (AppUser.EstaAutenticado())
{
    <div style="display: flex;">
        <div style="flex: 1; margin-right: 30px;">
            <vc:carrinho /> 
        </div>

        <div style="flex: 1; margin-right: 30px;">
            <div class="logo">
                <div class="sidebar-user-switcher user-activity-online">
                    <a href="#">
                        <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailGravatar(AppUser.ObterUserEmail())?d=mm&s=45">
                    </a>
                    <li class="nav-item dropdown hidden-on-mobile">
                        <a class="nav-link dropdown-toggle" href="#" id="addDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons">add</i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="addDropdownLink">
                            <li><a class="dropdown-item" asp-controller="Pedido" asp-action="MeusPedidos">Meus Pedidos</a></li>
                            <li><a class="dropdown-item" asp-controller="Identidade" asp-action="Logout">Sair</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="dropdown">
        <div class="dropdown-content">
            <small class="title text-muted">Bem vindo!</small>
            <div>
                <a style="text-decoration: none;" asp-controller="Identidade" asp-action="Registro">Crie sua conta</a> <span> | </span>
                <a style="text-decoration: none;" asp-controller="Identidade" asp-action="Login"> Login</a>
            </div>
        </div>
    </div>
}
