@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-custom" role="alert">
        <h3 id="msgRetorno" style="padding-top: 20px;">Algo deu errado</h3>
        <div style="padding-top: 20px;" asp-validation-summary="All" class="text-danger"></div>
    </div>
}
@{
    if (TempData["Erros"] is IEnumerable<string> mensagensErro && mensagensErro.Any())
    {
        <div style="padding-top: 15px;"></div>

        <div class="alert alert-custom" role="alert">
            <h3 id="msgRetorno" style="padding-top: 20px">Algo deu errado</h3>

            <ul>
                @{
                    foreach (var erro in mensagensErro)
                    {
                        <li>@erro</li>
                    }
                }

            </ul>
        </div>
    }
}