@model YourSneaker.WebApp.MVC.Models.UsuarioViewModel.UsuarioRegistro

@{
    Layout = "";
    ViewData["Title"] = "Registro";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
@*     <meta name="description" content="Sistema de Bolão">
    <meta name="keywords" content="Bolao">
    <meta name="author" content="2Jobs"> *@
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>@ViewData["Title"] - Your Sneakers </title>

    <!-- Styles -->
    @await Html.PartialAsync("_Styles")

    <!-- Theme Styles -->
    @await Html.PartialAsync("_StylesTheme")

</head>
<body>
    <div class="app app-auth-sign-in align-content-stretch d-flex flex-wrap justify-content-end">
        <div class="app-auth-background">
        </div>
        <div class="app-auth-container">
            <div class="logo">
                <a asp-action="Index" asp-controller="Catalogo" class="brand-wrap"></a>
            </div>
            <p class="auth-description">Crie sua conta e comece a comprar! <br />Por favor, informe seus dados de acesso e boa sorte!</p>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Registro">

                <div class="auth-credentials m-b-xxl">

                    <vc:Summary></vc:Summary>



                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Nome" placeholder="Seu nome">
                        <label asp-for="Nome" class="form-label">Seu nome</label>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Cpf" placeholder="CPF">
                        <label asp-for="Cpf" class="form-label">CPF</label>
                        <span asp-validation-for="Cpf" class="text-danger"></span>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="example@neptune.com">
                        <label asp-for="Email" class="form-label">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Senha" type="password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                        <label asp-for="Senha" class="form-label">Senha</label>
                        <span asp-validation-for="Senha" class="text-danger"></span>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" asp-for="SenhaConfirma" class="form-control" placeholder=""/>
                        <label asp-for="SenhaConfirma"></label>
                        <span asp-validation-for="SenhaConfirma" class="text-danger"></span>
                    </div>
                </div>


                <div class="auth-submit">
                    <button type="submit" class="btn btn-primary btn-block">Criar</button>
                </div>
                <br />
                <div class="card-footer text-center">Já possui uma conta?<a style="text-decoration: none;" asp-controller="Identidade" asp-action="Login"> Entrar em uma conta existente</a></div>
            </form>


        </div>
    </div>

    <!-- Javascripts -->
    @await Html.PartialAsync("_Scripts")
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>